extends _layout/layout.pug
block main 
	section.home_slider
		.container
			.row
				.col
					h1 Hello
					p
						a.btn.btn-more(herf="#") Sign in		
	section.home_service
		.container
			.row
				.col
					h2 fdfdfd
					p kjsadkjsahd
			.row
				.col-sm-6.col-md-3
					img(src='C:\Users\admin\Desktop\HocTap\FullStack\web02\src\img\home_icon_1.png')
					h2 fdfdfd
					p kjsadkjsahd
				.col-sm-6.col-md-3
					img(src='C:\Users\admin\Desktop\HocTap\FullStack\web02\src\img\home_icon_2.png')
					h2 fdfdfd
					p kjsadkjsahd
				.col-sm-6.col-md-3
					img(src='C:\Users\admin\Desktop\HocTap\FullStack\web02\src\img\home_icon_3.png')
					h2 fdfdfd
					p kjsadkjsahd
				.col-sm-6.col-md-3
					img(src='C:\Users\admin\Desktop\HocTap\FullStack\web02\src\img\home_icon_4.png')
					h2 fdfdfd
					p kjsadkjsahd

						