extends _layout/layout.pug
block main 
	section.home_slider
		.container
			.row
				.col
					h1 Hello
					p
						a.btn.btn-more(herf="#") Sign in		
	section.home_service
		.container
			.row
				.col
					h2 Tui Là Siêu Nhân
					p Tui Là Siêu Nhân
					.row
						//- tao vong lap for 
						- for(x=1;x<5;x++)
							.col
								img(src="./img/home_icon_"+x+".png",alt="")
								h2 Siêu Nhân là tui
								p Tui Là Siêu Nhân